body {
    font-family: sans-serif;
  }
  
* {
    margin: 0;
    padding: 0;
}

 .container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    margin-right: 50px;
    padding-top: 50px;      
}

.heading-mini {
    margin-bottom: 20px;
    align-self: center;
    font-size: 25px;
    }

.cart-button {
  width: 120px;
    border-radius: 10px;
    padding: 1px;
}
.goots-button {
    margin-left: 180px;
    width: 120px;
    border-radius: 10px;
    padding: 1px;
}

.card-box {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-around;
      padding-top: 20px;
      padding-bottom: 20px;
}

.card {
    padding: 44px 32px;  
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgb(153 156 155 / 20%);
    border-radius: 10px;
    background-color: #fff;    
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card__img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 50px;
}


